p{
    text-align: center;
    font-size: 30px;
    color: orange;
}

.circle{
    transition: all 1s linear;
}

.square{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.red:hover{
        background-color: red;
        position: relative;
        z-index: 0; 
}
     

.yellow:hover{
    background-color: yellow;
}

.green:hover{
    background-color: green;
}

.img1{
    z-index: -1;
    width: 100%;
    position: relative;
    opacity: 0.5;
}