p{
    text-align: center;
    font-size: 30px;
    color: orange;
}

.circle{
    transition: all 1s linear;
}

.square{
    margin-left: auto;
    margin-right: auto;
}

.red:hover{
        background-color: red;
}
     

.yellow:hover{
    background-color: yellow;
}

.green:hover{
    background-color: green;
}
